<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grapheme">
            <h2><span>Grapheme</span> {{ grapheme.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{ grapheme.text }}</span>
                </dd>
                <dt><span>First Introduced At</span></dt>
                <dd>
                    <div *ngIf="grapheme.firstIntroducedAt">
                        <a [routerLink]="['/national-educational-level', grapheme.firstIntroducedAt?.id, 'view']">{{ grapheme.firstIntroducedAt?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grapheme', grapheme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
