<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pgc-heading">Create or edit a Pgc</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_frequency">Frequency</label>
                    <select class="form-control" name="frequency" formControlName="frequency" id="field_frequency">
                        <option value="REGULAR">REGULAR</option>
                        <option value="VERY_COMMON">VERY_COMMON</option>
                        <option value="COMMON">COMMON</option>
                        <option value="LESS_COMMON">LESS_COMMON</option>
                        <option value="UNCOMMON">UNCOMMON</option>
                        <option value="RARE">RARE</option>
                        <option value="UNIQUE">UNIQUE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_phoneme">Phoneme</label>
                    <select class="form-control" id="field_phoneme" name="phoneme" formControlName="phoneme">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="phonemeOption.id === editForm.get('phoneme')!.value?.id ? editForm.get('phoneme')!.value : phonemeOption" *ngFor="let phonemeOption of phonemes; trackBy: trackById">{{ phonemeOption.ipa }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_grapheme">Grapheme</label>
                    <select class="form-control" id="field_grapheme" name="grapheme" formControlName="grapheme">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="graphemeOption.id === editForm.get('grapheme')!.value?.id ? editForm.get('grapheme')!.value : graphemeOption" *ngFor="let graphemeOption of graphemes; trackBy: trackById">{{ graphemeOption.text }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_firstIntroducedAt">First Introduced At</label>
                    <select class="form-control" id="field_firstIntroducedAt" name="firstIntroducedAt" formControlName="firstIntroducedAt">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nationalEducationalLevelOption.id === editForm.get('firstIntroducedAt')!.value?.id ? editForm.get('firstIntroducedAt')!.value : nationalEducationalLevelOption" *ngFor="let nationalEducationalLevelOption of nationaleducationallevels; trackBy: trackById">{{ nationalEducationalLevelOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
