<div>
    <h2 id="page-heading">
        <span>Phonemes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phoneme" [routerLink]="['/phoneme/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Phoneme
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="phonemes?.length === 0">
        <span>No phonemes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="phonemes && phonemes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipa"><span>Ipa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aka"><span>Aka</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="informalUkGov"><span>Informal Uk Gov</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wikiIpa"><span>Wiki Ipa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstIntroducedAt.name"><span>First Introduced At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phoneme of phonemes ;trackBy: trackId">
                    <td><a [routerLink]="['/phoneme', phoneme.id, 'view']">{{ phoneme.id }}</a></td>
                    <td>{{ phoneme.ipa }}</td>
                    <td>{{ phoneme.aka }}</td>
                    <td>{{ phoneme.informalUkGov }}</td>
                    <td>{{ phoneme.wikiIpa }}</td>
                    <td>
                        <div *ngIf="phoneme.firstIntroducedAt">
                            <a [routerLink]="['/national-educational-level', phoneme.firstIntroducedAt?.id, 'view']" >{{ phoneme.firstIntroducedAt?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/phoneme', phoneme.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/phoneme', phoneme.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(phoneme)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="phonemes && phonemes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
