<div>
    <h2 id="page-heading">
        <span>Rule Examples</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rule-example" [routerLink]="['/rule-example/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Rule Example
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ruleExamples?.length === 0">
        <span>No ruleExamples found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ruleExamples && ruleExamples.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="info"><span>Info</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rule.name"><span>Rule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pgclo.text"><span>Pgclo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstIntroducedAt.name"><span>First Introduced At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ruleExample of ruleExamples ;trackBy: trackId">
                    <td><a [routerLink]="['/rule-example', ruleExample.id, 'view']">{{ ruleExample.id }}</a></td>
                    <td>{{ ruleExample.info }}</td>
                    <td>
                        <div *ngIf="ruleExample.rule">
                            <a [routerLink]="['/rule', ruleExample.rule?.id, 'view']" >{{ ruleExample.rule?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ruleExample.pgclo">
                            <a [routerLink]="['/pgclo', ruleExample.pgclo?.id, 'view']" >{{ ruleExample.pgclo?.text }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ruleExample.firstIntroducedAt">
                            <a [routerLink]="['/national-educational-level', ruleExample.firstIntroducedAt?.id, 'view']" >{{ ruleExample.firstIntroducedAt?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rule-example', ruleExample.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rule-example', ruleExample.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ruleExample)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ruleExamples && ruleExamples.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
