<div>
    <h2 id="page-heading">
        <span>Words</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-word" [routerLink]="['/word/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Word
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="words?.length === 0">
        <span>No words found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="words && words.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span>Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipaText"><span>Ipa Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soundFile"><span>Sound File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usageSoundFile"><span>Usage Sound File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altIpaText"><span>Alt Ipa Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altSoundFile"><span>Alt Sound File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altUsageSoundFile"><span>Alt Usage Sound File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstIntroducedAt.name"><span>First Introduced At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let word of words ;trackBy: trackId">
                    <td><a [routerLink]="['/word', word.id, 'view']">{{ word.id }}</a></td>
                    <td>{{ word.text }}</td>
                    <td>{{ word.ipaText }}</td>
                    <td>{{ word.soundFile }}</td>
                    <td>{{ word.usageSoundFile }}</td>
                    <td>{{ word.altIpaText }}</td>
                    <td>{{ word.altSoundFile }}</td>
                    <td>{{ word.altUsageSoundFile }}</td>
                    <td>
                        <div *ngIf="word.firstIntroducedAt">
                            <a [routerLink]="['/national-educational-level', word.firstIntroducedAt?.id, 'view']" >{{ word.firstIntroducedAt?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/word', word.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/word', word.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(word)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="words && words.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
